.login-box {
    position: fixed;
    top: 6em;
    right: 1em;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--card-bg-light);
    min-width: 320px;
}

@media (prefers-color-scheme: dark) {
    .login-box {
        background-color: var(--card-bg-dark);
    }
}


.login-box-input-row, .login-box-title, .login-box-message-row {
    margin: 0.5em 0;
    padding: 0 1em;
}

.login-box-message-row {
    color: var(--message-color);
}

.login-box-type-select-row {
    margin: 0;
    margin-bottom: 1em;
}
