.login-box {
    position: fixed;
    top: 6em;
    right: 1em;
    padding: 1em;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f0f8ff;
}

.login-box-input-row {
    margin: 0.5em 0;
}

@media (prefers-color-scheme: dark) {
    .login-box {
        background-color: #333;
    }
}
