.post-card-info-row {
    text-align: left;
    margin-left: 0.5em;
}

.post-card-user {
    font-weight: bold;
    padding-left: 0.1em;
}

.post-card-created-at {
    float: right;
}

.post-card-content {
    margin: 0.5em 0;
    padding: 0 1em;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: #f6f8fa;
    text-align: left;
    word-wrap: break-word;
    width: calc(100% - 2em - 2px);
}

@media (prefers-color-scheme: dark) {
    .post-card-content {
        background-color: #444;
    }
}

.post-card-actions-row button {
    margin: 0 10px;
}
